@import "variables";
@import "mixines";

.card {
  font-family: Roboto, sans-serif;
  width: $card-width;
  height: 403px * $proportion-card;
  padding-bottom: 12px * $proportion-card;
  background: $white;
  border: $card-border solid #f3f3f3;
  border-radius: 3px * $proportion-card;

  $margin-bottom: 42px * $proportion-card;
  $margin-top: 27px * $proportion-card;
  $border-width: 3px * $proportion-card;
  $image-border: 3px solid transparent;
  $hover-padding-top: 10px * $proportion-card;

  &__image {
    box-sizing: content-box;
    height: $image-height;
    width: $image-width;
    display: block;
    margin: $margin-top auto $margin-bottom;
    border: $border-width solid transparent ;
    transition: transform 1s, padding-top 1s, margin-bottom 1s;

    &:hover {
      padding-top: $hover-padding-top;
      margin-bottom: $margin-bottom - $hover-padding-top;
      transform: scale(1.2) translate(0, -($margin-top - $border-width * 2)/2);
      border-color: #f3f3f3;
    }
  }

  &__description {
    font-weight: 500;
    font-size: 12px * $proportion-card;
    line-height: 15px * $proportion-card;
    width: 170px * $proportion-card;
    margin: 0 auto 5px * $proportion-card;
  }

  &__code {
    font-size: 11px * $proportion-card;
    width: 170px * $proportion-card;
    margin: 0 auto 16px * $proportion-card;
  }

  &__price,
  &__rating {
    display: grid;
    grid-template-columns: repeat(2, auto);
    justify-content: space-between;
    width: 170px * $proportion-card;
    margin-left: auto;
    margin-right: auto;
  }

  &__rating {
    align-items: flex-start;
    margin-bottom: 20px * $proportion-card;
  }

  &__feedback {
    font-size: 11px * $proportion-card;
    text-align: right;
    font-weight: 400;
    color: #000;
  }

  &__price {
    height: 15px * $proportion-card;
    &-word {
      margin-top: 5px * $proportion-card;
      font-size: 11px * $proportion-card;
      line-height: 13px * $proportion-card;
      text-align: right;
    }
    &-value {
      font-weight: bold;
      font-size: 16px * $proportion-card;
      line-height: 19px * $proportion-card;
      text-align: right;
    }
  }

  &__button {
    margin: 25px auto;
  }
}
