@import "variables";
@import "mixines";

.main {
  display: grid;
  grid-template-columns: repeat(4, $card-width);
  grid-gap: 48px;
  justify-content: center;

  &__card {
    margin-bottom: 2px;
  }
}
