@import "variables";
@import "mixines";

.navigation {
  &__list {
    display: grid;
    grid-template-columns: repeat(8, auto);
    gap: 20px;
  }

  &__link {
    display: flex;
    line-height: $header-height;
    text-decoration: none;
    color: black;
    font-weight: 500;
    font-size: 12px * $proportion-header;
    text-transform: uppercase;
    white-space: nowrap;
  }
}

.is-active,
.navigation__link:hover {
  color: $blue;
}

.is-active {
  display: flex;
  flex-direction: column;
  line-height: $header-height;
  position: relative;
  &::after {
    content: "";
    background-color: $blue;
    position: absolute;
    top: 56px * $proportion-header;
    height: 4px * $proportion-header;
    width: 100%;
    border-radius: 8px;
  }
}
