@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap");
@import "normolize";
@import "variables";
@import "mixines";
@import "header";
@import "nav";
@import "main";
@import "card";
@import "star-block";
@import "button";

.page {
  &__header {
    display: grid;
    grid-template-columns: repeat(2, auto);
    align-items: center;
    justify-content: space-between;
    height: $header-height;
  }

  &__main {
    margin: 50px * $proportion-header auto 50px;
  }
}
